<?xml version='1.0' encoding='utf-8'?>
<widget id="com.redhat.demo.wfm" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FeedHenry WFM</name>
    <description>
        A demo of the RHMAP WFM modules.
    </description>
    <author email="bleathem@gmail.com" href="http://feedhenry.com">
      Red Hat Mobile
  </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*://*.mbaas2.tom.redhatmobile.com/*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <platform name="ios">
        <icon height="57" src="www/res/icons/ios/icon.png" width="57" />
        <icon height="114" src="www/res/icons/ios/icon@2x.png" width="114" />
        <icon height="40" src="www/res/icons/ios/icon-40.png" width="40" />
        <icon height="80" src="www/res/icons/ios/icon-40@2x.png" width="80" />
        <icon height="50" src="www/res/icons/ios/icon-50.png" width="50" />
        <icon height="100" src="www/res/icons/ios/icon-50@2x.png" width="100" />
        <icon height="60" src="www/res/icons/ios/icon-60.png" width="60" />
        <icon height="120" src="www/res/icons/ios/icon-60@2x.png" width="120" />
        <icon height="180" src="www/res/icons/ios/icon-60@3x.png" width="180" />
        <icon height="72" src="www/res/icons/ios/icon-72.png" width="72" />
        <icon height="144" src="www/res/icons/ios/icon-72@2x.png" width="144" />
        <icon height="76" src="www/res/icons/ios/icon-76.png" width="76" />
        <icon height="152" src="www/res/icons/ios/icon-76@2x.png" width="152" />
        <icon height="29" src="www/res/icons/ios/icon-small.png" width="29" />
        <icon height="58" src="www/res/icons/ios/icon-small@2x.png" width="58" />
        <icon height="87" src="www/res/icons/ios/icon-small@3x.png" width="87" />
        <splash height="1136" src="www/res/splash/ios/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" src="www/res/splash/ios/Default-667h.png" width="750" />
        <splash height="2208" src="www/res/splash/ios/Default-736h.png" width="1242" />
        <splash height="1242" src="www/res/splash/ios/Default-Landscape-736h.png" width="2208" />
        <splash height="1536" src="www/res/splash/ios/Default-Landscape@2x~ipad.png" width="2048" />
        <splash height="768" src="www/res/splash/ios/Default-Landscape~ipad.png" width="1024" />
        <splash height="2048" src="www/res/splash/ios/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="1024" src="www/res/splash/ios/Default-Portrait~ipad.png" width="768" />
        <splash height="960" src="www/res/splash/ios/Default@2x~iphone.png" width="640" />
        <splash height="480" src="www/res/splash/ios/Default~iphone.png" width="320" />
    </platform>
    <platform name="android">
        <icon density="ldpi" src="www/res/icons/android/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="www/res/icons/android/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="www/res/icons/android/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="www/res/icons/android/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="www/res/icons/android/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="www/res/icons/android/drawable-xxxhdpi-icon.png" />
        <splash density="land-ldpi" src="www/res/splash/android/drawable-land-ldpi-screen.png" />
        <splash density="land-mdpi" src="www/res/splash/android/drawable-land-mdpi-screen.png" />
        <splash density="land-hdpi" src="www/res/splash/android/drawable-land-hdpi-screen.png" />
        <splash density="land-xhdpi" src="www/res/splash/android/drawable-land-xhdpi-screen.png" />
        <splash density="land-xxhdpi" src="www/res/splash/android/drawable-land-xxhdpi-screen.png" />
        <splash density="land-xxxhdpi" src="www/res/splash/android/drawable-land-xxxhdpi-screen.png" />
        <splash density="port-ldpi" src="www/res/splash/android/drawable-port-ldpi-screen.png" />
        <splash density="port-mdpi" src="www/res/splash/android/drawable-port-mdpi-screen.png" />
        <splash density="port-hdpi" src="www/res/splash/android/drawable-port-hdpi-screen.png" />
        <splash density="port-xhdpi" src="www/res/splash/android/drawable-port-xhdpi-screen.png" />
        <splash density="port-xxhdpi" src="www/res/splash/android/drawable-port-xxhdpi-screen.png" />
        <splash density="port-xxxhdpi" src="www/res/splash/android/drawable-port-xxxhdpi-screen.png" />
    </platform>
    <plugin name="cordova-plugin-device" spec="~0.2.8" />
    <plugin name="cordova-plugin-console" spec="~0.2.6" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.0" />
    <plugin name="com.feedhenry.plugins.splashscreen" spec="https://github.com/feedhenry/cordova-plugin-splashscreen.git#fh0.3.5" />
    <plugin name="cordova-plugin-network-information" spec="~0.2.9" />
    <plugin name="cordova-plugin-file" spec="~0.2.5" />
    <plugin name="cordova-plugin-geolocation" spec="~0.3.10" />
    <plugin name="cordova-plugin-file-transfer" spec="https://github.com/feedhenry/cordova-plugin-file-transfer.git#fh0.4.0" />
    <engine name="android" spec="~3.7.2" />
    <engine name="ios" spec="~3.5.0" />
    <icon src="www/res/icons/android/drawable-xhdpi-icon.png" />
    <plugin name="org.apache.cordova.device" spec="~0.2.13" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.2" />
    <plugin name="ionic-plugin-keyboard" spec="~2.2.1" />
</widget>
